@import url(index.html);


body{
    background-color: #0A0C10;
    font-family: "Poppins", sans-serif;
}
/* NAVABAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(39, 46, 54, 0.24);
    height: 80px;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    padding: 0.5rem;
    text-align: center;
}

.logo{
    padding-left: 3%;

}
.logo img {
    height: 60px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 15%;
}

 .hero ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
 }
 .hero ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
 }
 .hero ul li a:hover {
    color: red;
 }
 .login {
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
    cursor: pointer;
 }

 /*Part 1*/

 .text {
    display: flex;
    padding: 50px;
    margin: 10px;
    font-size: 30px;
    color: antiquewhite;
    padding-left: 120px;
 }
 .text h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .text span {
    color: #800946;
    font-size: 120px;
    justify-content: space-between;
 }
 .text img {
    height: 500px;
    padding-left: 200px;
    margin: 10px;
     margin-top: -70px;
 }
 .undertext {
    display: flex;
    font-size: 10px;
    padding-left: 220px;
    text-align: center;
    align-items: center;
    color: aliceblue;
 }


/*Part 2*/

.metier {
    align-items: center;
    padding: 100px;
    color: antiquewhite;
    text-align: center;
}
.metier p {
    font-size: 92px;
    text-align: center;
    justify-content: center;
}
.metier span {
    font-size: 24px;
    justify-content: center;
    padding-top: 0;
}
/* Container OU PART 3*/

.container {
    display: flex;
    gap: 0.5rem;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #1E1E1E;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
}

h3 {
    color: #800946;
    margin-bottom: 10px;
}

p {
    color: #CCCCCC;
}

/* PART 4*/
.part4 {
    display: flex;
    align-items: center;
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
    padding-left: 120px;
    padding-top: 250px;
    color: #CCCCCC;
}

.part4 span {
    color: #800946;
}
.Spart4 h1{
    margin-top: -50px;
    font-size: 25px;
    color: #CCCCCC;
    padding-left: 150px;
    font-weight: none;
}


.button {
    font-size: 10px;
    background-color: #800946;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: -10px;
    margin-bottom: -10px;
}
/* Second card */
.expertise-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 14rem;
}

.expertise-item {
    text-align: center;
    margin: 0 20px;
}

.expertise-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

/* PART 5 */
.part5 {
    color: #CCCCCC;
    text-align: center;
    justify-content: center;
    padding: 80px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.part5 h1 {
    font-size: 70px;
}
.part5 h2 {
    font-size: 15px;
    text-align: center;
}
/* card 3 */
